html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f7f7f7;
}

body {
  /* max-width: 960px; */
  margin: 0 auto;
  border: 20px;
  font-size: 18px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #323b49;
}

/********************
  Nav Styling
********************/
/* 
.navBar {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.navLink {
  padding: 5px;
} */

/********************
  Bio Styling
********************/
/* 
.heading {
  font-size: 30px;
  text-align: center;
}

.bio-info {
  margin: 0 auto;
  padding: 5% 15% 5% 15%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: #f8b500;
}

.bio-photo {
  margin: 20px;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  border-radius: 50%;
}

.bio-aboutme {
  width: 30%;
  padding: 20px;
  margin-left: 25px;
  max-width: 50%;
}

.bio-paragraph {
  padding: 0;
  min-width: 200px;
  width: 500px;
  font-size: 18px;
  justify-content: flex-start;
} */

/********************
  Skills Styling
********************/
/* 
.skills {
  padding: 5% 15% 5% 15%;
  min-width: 200px;
  display: flex;
  flex-flow: row wrap; flex-direction flex-wrap
  align-items: baseline; cross axis
  justify-content: center;
}

.skills-header {
  text-align: center;
  width: 100%;
}

.skills-frontend,
.skills-backend,
.skills-testing,
.skills-deployment,
.skills-development,
.skills-design {
  min-width: 33.3%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
} */

/********************
  Projects Styling
********************/
/* 
.projects {
  padding: 5% 15%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background: #f2f2f2;
}

.projects-header,
.abay-project,
.welp-project {
  text-align: center;
}

.abay-photo {
  max-width: 100%;
  height: auto;
  width: auto;
}

.abay-skills {
  padding: 10px;
}

.abay-paragraph {
  padding: 0 10% 20px 10%;
}

.welp-photo {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.welp-skills {
  padding: 10px;
}

.welp-paragraph {
  padding: 0 10% 20px 10%;
} */

/********************
  Experience Styling
********************/
/* 
.experience {
  padding: 5% 15% 5% 15%;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  list-style-position: inside;
}

.experience ul {
  padding-left: 0%;
} */

/********************
  Education Styling
********************/
/* 
.education {
  padding: 5% 15% 5% 15%;
  display: flex;
  flex-flow: column wrap;
  background: #f2f2f2;
  text-align: center;
}

.education ul {
  padding-left: 0%;
} */

/********************
  Contact Styling
********************/
/* 
.contact-info {
  padding: 5% 15% 5% 15%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.contact-info h1 {
  margin: 1.34em;
  width: 100%;
  text-align: center;
}

.contact-info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 33.3%;
} */

/* Media query for mobile phones */
@media screen and (max-width: 475px) {
  body {
    /* max-width: 960px; */
    margin: 0 auto;
    border: 10px;
    font-size: 15px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #323b49;
  }

  /* Bio */
  /* .bio-info {
    margin: 0 auto;
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #f8b500;
    visualizer
    outline: 5px solid red;
    border: 5px solid pink;
  }

  .bio-photo {
    border-top: 20px;
    border-bottom: 20px;
    visualizer
    outline: 5px solid red;
    border: 5px solid pink;
  }

  .bio-aboutme {
    max-width: unset;
    padding: unset;
    display: flex;
    flex-direction: column;
    align-content: center;
    visualizer
    outline: 5px solid blue;
    border: 5px solid pink;
  }

  .bio-aboutme h1 {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    visualizer
    outline: 5px solid red;
    border: 5px solid pink;
  }

  .bio-paragraph {
    min-width: unset;
    text-align: center;
    visualizer
    outline: 5px solid greenyellow;
    border: 5px solid pink;
  }
  .bio-paragraph {
    
    width: 300px;
    text-align: center;
    
    visualizer
    outline: 5px solid red;
    border: 5px solid pink;
  }  */

  /* Skills */
  /* .skills {
    padding: 5% 10% 5% 10%;
    min-width: unset;
    display: flex;
    flex-flow: column wrap; flex-direction flex-wrap
    align-items: center; cross axis
    text-align: center;
    justify-content: center;
  } */

  /* Projects */
  /* .projects {
    padding: 5% 10%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background: #f2f2f2;
  }

  .abay-paragraph {
    padding: 20px 0;
  }

  .welp-paragraph {
    padding: 20px 0;
  } */

  /* Education */
  /* .education {
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-flow: column wrap;
    background: #f2f2f2;
    text-align: center;
    list-style-position: inside;
  } */
}

/********************
  Nav Styling
********************/

.NavBar__navBar--3iO4D {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.NavBar__navLink--2lKQo {
  padding: 5px;
}

@media screen and (max-width: 475px) {
}

/********************
  Bio Styling
********************/

.BioInfo__heading--1oVBs {
  font-size: 30px;
  text-align: center;
}

.BioInfo__bio-info--3bz9B {
  margin: 0 auto;
  padding: 5% 15% 5% 15%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: #f8b500;
}

.BioInfo__bio-photo--1C5YB {
  margin: 20px;
  /* max-height: 100%; */
  max-width: 100%;
  height: auto;
  width: auto;
  border-radius: 50%;
}

.BioInfo__bio-aboutme--3JV3P {
  /* width: 30%; */
  padding: 20px;
  /* margin-left: 25px; */
  max-width: 50%;
}

.BioInfo__bio-paragraph--3knT3 {
  /* padding: 0; */
  min-width: 200px;
  /* width: 500px; */
  /* font-size: 18px; */
  /* justify-content: flex-start; */
}

/* Media query for mobile phones */
@media screen and (max-width: 475px) {
  /* Bio */
  .BioInfo__bio-info--3bz9B {
    margin: 0 auto;
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #f8b500;
    /* visualizer */
    outline: 5px solid red;
    border: 5px solid pink;
  }

  .BioInfo__bio-photo--1C5YB {
    border-top: 20px;
    border-bottom: 20px;
    /* visualizer */
    outline: 5px solid red;
    border: 5px solid pink;
  }

  .BioInfo__bio-aboutme--3JV3P {
    max-width: unset;
    padding: unset;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* visualizer */
    outline: 5px solid blue;
    border: 5px solid pink;
  }

  .BioInfo__bio-aboutme--3JV3P h1 {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    /* visualizer */
    outline: 5px solid red;
    border: 5px solid pink;
  }

  .BioInfo__bio-paragraph--3knT3 {
    min-width: unset;
    text-align: center;
    /* visualizer */
    outline: 5px solid greenyellow;
    border: 5px solid pink;
  }
  /* .bio-paragraph {
    
    width: 300px;
    text-align: center;
    
    visualizer
    outline: 5px solid red;
    border: 5px solid pink;
  }  */
}

/********************
  Skills Styling
********************/

.Skills__skills--1egmn {
  padding: 5% 15% 5% 15%;
  min-width: 200px;
  display: flex;
  flex-flow: row wrap; /* flex-direction flex-wrap */
  align-items: baseline; /* cross axis */
  justify-content: center;
}

.Skills__skills-header--1xAef {
  text-align: center;
  width: 100%;
}

.Skills__skills-frontend--1KO0r,
.Skills__skills-backend--aCccn,
.Skills__skills-testing--1XrhW,
.Skills__skills-deployment--Pk7aq,
.Skills__skills-development--1POOZ,
.Skills__skills-design--1UJPH {
  min-width: 33.3%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

/* Media query for mobile phones */
@media screen and (max-width: 475px) {
  /* Skills */
  .Skills__skills--1egmn {
    padding: 5% 10% 5% 10%;
    min-width: unset;
    display: flex;
    flex-flow: column wrap; /* flex-direction flex-wrap */
    align-items: center; /* cross axis */
    text-align: center;
    justify-content: center;
  }
}

/********************
  Projects Styling
********************/

.Projects__projects--2bI1u {
  padding: 5% 15%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background: #f2f2f2;
}

.Projects__projects-header--9Gg0E,
.Projects__abay-project--1N8QD,
.Projects__welp-project--2pWQb {
  text-align: center;
}

.Projects__abay-photo--9-96X {
  max-width: 100%;
  height: auto;
  width: auto;
}

.Projects__abay-skills--2-QAN {
  padding: 10px;
}

.Projects__abay-paragraph--3vjYh {
  padding: 0 10% 20px 10%;
}

.Projects__welp-photo--nxCx5 {
  max-width: 100%;
  /* max-height: 100%; */
  height: auto;
  width: auto;
}

.Projects__welp-skills--1kFmV {
  padding: 10px;
}

.Projects__welp-paragraph--1EHlg {
  padding: 0 10% 20px 10%;
}

/* Media query for mobile phones */
@media screen and (max-width: 475px) {
  .Projects__projects--2bI1u {
    padding: 5% 10%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background: #f2f2f2;
  }

  .Projects__abay-paragraph--3vjYh {
    padding: 20px 0;
  }

  .Projects__welp-paragraph--1EHlg {
    padding: 20px 0;
  }
}

/********************
  Experience Styling
********************/

.Experience__experience--1LYmn {
  padding: 5% 15% 5% 15%;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  list-style-position: inside;
}

.Experience__experience--1LYmn ul {
  padding-left: 0%;
}

/* Media query for mobile phones */
@media screen and (max-width: 475px) {
  .Experience__experience--1LYmn {
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    list-style-position: inside;
  }
}

/********************
  Education Styling
********************/

.Education__education--2E8XK {
  padding: 5% 15% 5% 15%;
  display: flex;
  flex-flow: column wrap;
  background: #f2f2f2;
  text-align: center;
}

.Education__education--2E8XK ul {
  padding-left: 0%;
}

@media screen and (max-width: 475px) {
  /* Education */
  .Education__education--2E8XK {
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-flow: column wrap;
    background: #f2f2f2;
    text-align: center;
    list-style-position: inside;
  }
}

/********************
  Contact Styling
********************/

.ContactInfo__contact-info--n-iFd {
  padding: 5% 15% 5% 15%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.ContactInfo__contact-info--n-iFd h1 {
  margin: 0.67em;
  width: 100%;
  text-align: center;
}

.ContactInfo__contact-info--n-iFd div {
  padding: 15px 10% 15px 10%;
  text-align: center;
  max-width: 33.3%;
}

@media screen and (max-width: 475px) {
  .ContactInfo__contact-info--n-iFd {
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

