/********************
  Contact Styling
********************/

.contact-info {
  padding: 5% 15% 5% 15%;
}

.contact-info h1 {
  margin: 0.67em;
  text-align: center;
  /* width: 100%; */
}

.contact-links {
  display: flex;
  flex-flow: row wrap;
  /* align-items: center;
  justify-content: center; */
  justify-content: center;
}

.contact-icon {
  padding: 0.67em 5% 0.67em 5%;
  text-align: center;
  width: 10%;
}

@media screen and (max-width: 475px) {
}
