/********************
  Education Styling
********************/

.education {
  padding: 5% 15% 5% 15%;
  display: flex;
  flex-flow: column wrap;
  background: #f2f2f2;
  text-align: center;
}

.education ul {
  padding-left: 0%;
}

@media screen and (max-width: 475px) {
  /* Education */
  .education {
    padding: 5% 5% 5% 5%;
    display: flex;
    flex-flow: column wrap;
    background: #f2f2f2;
    text-align: center;
    list-style-position: inside;
  }
}
