* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:global body {
  max-width: 960px;
  margin: 0 auto;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.heading {
  font-size: 30px;
  text-align: center;
}

.bio-info {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.bio-photo {
  height: 400px;
}

.bio-aboutme {
  margin-left: 20px;
}

.skills-header {
  text-align: center;
  width: 960px;
  margin-bottom: -20px;
}

.skills {
  width: 960px;
  justify-content: center;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap; /* flex-direction flex-wrap */
  /*align-items: center; cross axis*/
  justify-content: center;
}

.skills-frontend {
  width: 33.3%;
  height: 45%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

.skills-backend {
  width: 33.3%;
  height: 45%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

.skills-testing {
  width: 33.3%;
  height: 45%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

.skills-deployment {
  width: 33.3%;
  height: 45%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

.skills-development {
  width: 33.3%;
  height: 45%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

.skills-design {
  width: 33.3%;
  height: 45%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}
