* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:global body {
  max-width: 960px;
  margin: 0 auto;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.heading {
  font-size: 30px;
  text-align: center;
}

.bio-info {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.bio-photo {
  height: 400px;
}

.bio-aboutme {
  margin-left: 20px;
}

.skills {
  text-align: center;
  list-style-position: inside;
}
