html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f7f7f7;
}

:global body {
  /* max-width: 960px; */
  margin: 0 auto;
  border: 20px;
  font-size: 18px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #323b49;
}

/********************
  Nav Styling
********************/

.navBar {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.navLink {
  padding: 5px;
}

/********************
  Bio Styling
********************/

.heading {
  font-size: 30px;
  text-align: center;
}

.bio-info {
  margin: 0 auto;
  padding: 5% 15% 5% 15%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: #f8b500;
}

.bio-photo {
  margin: 20px;
  /* max-height: 100%; */
  max-width: 100%;
  height: auto;
  width: auto;
  border-radius: 50%;
}

.bio-aboutme {
  /* width: 30%; */
  padding: 20px;
  /* margin-left: 25px; */
  max-width: 50%;
}

.bio-paragraph {
  /* padding: 0; */
  min-width: 200px;
  /* width: 500px; */
  font-size: 18px;
  /* justify-content: flex-start; */
}

/* Media query for mobile phones */
@media screen and (max-width: 475px) {
  /* Bio */
  .bio-info {
    margin: 0 auto;
    padding: 5% 15% 5% 15%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #f8b500;
    /* visualizer */
    outline: 5px solid red;
    border: 5px solid pink;
  }

  .bio-photo {
    border-top: 20px;
    border-bottom: 20px;
    /* visualizer */
    outline: 5px solid red;
    border: 5px solid pink;
  }

  .bio-aboutme {
    max-width: unset;
    padding: unset;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* visualizer */
    outline: 5px solid blue;
    border: 5px solid pink;
  }

  .bio-aboutme h1 {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    /* visualizer */
    outline: 5px solid red;
    border: 5px solid pink;
  }

  .bio-paragraph {
    min-width: unset;
    text-align: center;
    /* visualizer */
    outline: 5px solid greenyellow;
    border: 5px solid pink;
  }
  /* .bio-paragraph {
    
    width: 300px;
    text-align: center;
    
    visualizer
    outline: 5px solid red;
    border: 5px solid pink;
  }  */

  /* Skills */
  .skills {
    padding: 5% 20% 5% 20%;
    min-width: 200px;
    display: flex;
    flex-direction: column; /* flex-direction flex-wrap */
    align-items: baseline; /* cross axis */
    justify-content: center;
  }
}

/********************
  Skills Styling
********************/

.skills {
  padding: 5% 20% 5% 20%;
  min-width: 200px;
  display: flex;
  flex-flow: row wrap; /* flex-direction flex-wrap */
  align-items: baseline; /* cross axis */
  justify-content: center;
}

.skills-header {
  text-align: center;
  width: 100%;
}

.skills-frontend,
.skills-backend,
.skills-testing,
.skills-deployment,
.skills-development,
.skills-design {
  min-width: 33.3%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

/* .skills-backend {
  min-width: 33.3%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

.skills-testing {
  min-width: 33.3%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

.skills-deployment {
  min-width: 33.3%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

.skills-development {
  min-width: 33.3%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

.skills-design {
  min-width: 33.3%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
} */

/********************
  Projects Styling
********************/

.projects {
  padding: 5% 15%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background: #f2f2f2;
}

.projects-header,
.abay-project,
.welp-project {
  text-align: center;
}

.abay-photo {
  max-width: 100%;
  height: auto;
  width: auto;
}

.abay-skills {
  padding: 10px;
}

.abay-paragraph {
  padding: 0 10% 20px 10%;
}

.welp-photo {
  max-width: 100%;
  /* max-height: 100%; */
  height: auto;
  width: auto;
}

.welp-skills {
  padding: 10px;
}

.welp-paragraph {
  padding: 0 10% 20px 10%;
}

/********************
  Experience Styling
********************/

.experience {
  padding: 5% 20% 5% 20%;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  list-style-position: inside;
}

.experience ul {
  padding-left: 0%;
}

/********************
  Education Styling
********************/

.education {
  padding: 5% 20% 5% 20%;
  display: flex;
  flex-flow: column wrap;
  background: #f2f2f2;
  text-align: center;
  list-style-position: inside;
}

.education ul {
  padding-left: 0%;
}

/********************
  Contact Styling
********************/

.contact-info {
  padding: 5% 20% 5% 20%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.contact-info h1 {
  width: 100%;
  text-align: center;
}

.contact-info div {
  width: 50%;
  text-align: center;
}
