html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f7f7f7;
}

:global body {
  /* max-width: 960px; */
  margin: 0 auto;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: #323b49;
}

/********************
  Bio Styling
********************/

.heading {
  font-size: 30px;
  text-align: center;
}

.bio-info {
  margin: 0 auto;
  padding: 5% 20% 5% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8b500;
}

.bio-photo {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  border-radius: 50%;
}

.bio-aboutme {
  width: 45%;
  margin-left: 25px;
}

/********************
  Skills Styling
********************/

.skills {
  padding: 5% 20% 5% 20%;
  display: flex;
  flex-flow: row wrap; /* flex-direction flex-wrap */
  align-items: baseline; /* cross axis */
  justify-content: center;
}

.skills-header {
  text-align: center;
  width: 100%;
}

.skills-frontend {
  min-width: 33.3%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

.skills-backend {
  min-width: 33.3%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

.skills-testing {
  min-width: 33.3%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

.skills-deployment {
  min-width: 33.3%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

.skills-development {
  min-width: 33.3%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

.skills-design {
  min-width: 33.3%;
  text-align: center;
  list-style-position: inside;
  padding-left: 0%;
}

/********************
  Projects Styling
********************/

.projects {
  padding: 5% 15%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background: #f3f3f3;
}

.projects-header,
.abay-project,
.welp-project {
  text-align: center;
}

.abay-photo {
  max-width: 100%;
  height: auto;
  width: auto;
}

.abay-skills {
  padding: 10px;
}

.abay-paragraph {
  padding: 0 20% 20px 20%;
}

.welp-photo {
  max-width: 100%;
  /* max-height: 100%; */
  height: auto;
  width: auto;
}

.welp-skills {
  padding: 10px;
}

.welp-paragraph {
  padding: 0 20% 20px 20%;
}

/********************
  Experience Styling
********************/

.experience {
  padding: 5% 20% 5% 20%;
  text-align: center;
  list-style-position: inside;
}

.experience ul {
  padding-left: 0%;
}

/********************
  Education Styling
********************/

.education {
  padding: 5% 20% 5% 20%;
  text-align: center;
  list-style-position: inside;
}

.education ul {
  padding-left: 0%;
}

/********************
  Contact Styling
********************/

.contactInfo {
  text-align: center;
}
