/********************
  Nav Styling
********************/

.nav-bar {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.nav-link:link {
  text-decoration: none;
  color: #323b49;
  padding: 5px;
}

.nav-link:visited {
  text-decoration: none;
  color: #323b49;
  padding: 5px;
}

.nav-link:hover {
  text-decoration: none;
  color: lightgray;
  padding: 5px;
}

.nav-link:active {
  text-decoration: none;
  color: #323b49;
  padding: 5px;
}

@media screen and (max-width: 475px) {
  .nav-link:hover {
    color: #323b49;
  }
}
